<%= form_for Photo.new,:url => {:controller => 'users', :action => 'fbuploadimage' }, :html => { :multipart => true, :id => 'new_image',:action=>'fbuploadimage'  } do |f| %>
  <div class="field">
   <b> Create Album : </b> <%= f.text_field :album_name %><br />
   <b> Description : </b> <%= f.text_field :desc %><br />
   <%= render :partial => "users/temp_image", :locals => {:usr_id => @usr.id} %>
   <%= f.submit "Post"%>
  </div>

<%= hidden_field_tag 'access_token', @access_token %>
<% end %>

